.movies {
  display: flex;
  flex-direction: column;
  padding-bottom: 81px;
  gap: 60px;
}

.movies__error-card {
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  grid-column: 1 / -1;
}

.movies__card-pages {
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: center;
  max-width: 1140px;
  row-gap: 58px;
  column-gap: 30px;
  list-style-type: none;
  padding: 80px 0 0;
  width: -webkit-fill-available;
}

.movies__invisible_button {
  visibility: hidden;
}

.movies__button {
  background: #f9f9f9;
  width: 320px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  align-self: center;
  border: none;
  border-radius: 6px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.movies__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .movies {
    gap: 61px;
  }

  .movies__card-pages {
    max-width: 321px;
    grid-template-columns: repeat(auto-fill, 339px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 712px) {
  .movies {
    padding-bottom: 79px;
  }

  .movies__card-pages {
    max-width: 300px;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 37px;
    padding: 52px 0 0;
  }
}
