.movies {
  display: flex;
  flex-direction: column;
  gap: 77px;
  padding-bottom: 86px;
}

.movies__card-list {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: center;
  max-width: 1140px;
  row-gap: 57px;
  column-gap: 30px;
  margin: 0 auto;
  list-style-type: none;
  padding: 80px 0 0;
  width: -webkit-fill-available;
}

.movies__button {
  background: #f9f9f9;
  width: 320px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  align-self: center;
  border: none;
  border-radius: 6px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.movies__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .movies {
    gap: 61px;
  }

  .movies__card-list {
    max-width: 708px;
    grid-template-columns: repeat(auto-fill, 339px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    padding-bottom: 79px;
  }

  .movies__card-list {
    max-width: 300px;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 37px;
    padding: 52px 0 0;
  }
}
