.movies__card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 14px;
}

.movies__card:hover > .movies__button-save_type_save {
  visibility: visible;
  opacity: 1;
}

.movies__card:hover > .movies__button-save_type_save:hover {
  opacity: 0.7;
}

.movies__card:hover > .movies__button-save_type_delete {
  opacity: 1;
  visibility: visible;
}

.movies__card:hover > .movies__button-save_type_delete:hover {
  opacity: 0.7;
}

.movies__link:hover {
  cursor: pointer;
}

.movies__link:hover > .movies__image {
  transform: scale(1.02);
}

.movies__image {
  display: block;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  height: 201px;
  width: 100%;
  transition: transform 0.3s;
  gap: 14px;
}

.movies__button-save {
  opacity: 0;
  visibility: hidden;
  border: none;
  transition: visibility 0.2s, opacity 0.2s linear;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.1;
  position: absolute;
  cursor: pointer;
  right: 14px;
  top: 14px;
  transition: opacity 0.3s;
  z-index: 1;
}

.movies__button-save:hover {
  visibility: visible;
  opacity: 0.7;
  cursor: pointer;
}

.movies__button-save_type_saved {
  visibility: visible;
  background-image: url(../../images/save3.svg);
  background-position: center;
  background-size: 21px 21px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
}

.movies__button-save_type_save {
  background-color: #f9f9f9;
  width: 72px;
  height: 21px;
  border-radius: 30px;
}

.movies__button-save_type_delete {
  width: 21px;
  height: 21px;
  background-image: url(../../images/d3.svg);
  background-size: 21px 21px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.movies__container-title {
  box-sizing: border-box;
  display: flex;
  gap: 33px;
}

.movies__title {
  margin: 0;
  width: 250px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.movies__container-time {
  background-color: #f9f9f9;
  box-sizing: border-box;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  padding: 3px 4px;
}

.movies__time {
  margin: 0;
  color: #a0a0a0;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.1;
}

@media screen and (max-width: 768px) {
  .movies__card {
    gap: 25px;
  }

  .movies__container-title {
    padding-top: 25px;
  }

  .movies__image {
    height: 190px;
  }

  .movies__title {
    padding-left: 0;
  }

  .movies__button-save_type_delete {
    visibility: visible;
    opacity: 1;
  }

  .movies__button-save_type_save {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 712px) {
  .movies__image {
    height: 168px;
  }

  .movies__title {
    font-size: 12px;
    width: 240px;
  }

  .movies__card {
    gap: 15px;
  }

  .movies__container-title {
    padding-top: 15px;
  }

  .movies__button-save {
    opacity: 1;
  }

  .movies__button-save_type_delete {
    visibility: visible;
    opacity: 1;
  }

  .movies__button-save_type_save {
    opacity: 1;
    visibility: visible;
  }

  .movies__button-save_type_delete {
    right: 10px;
    top: 10px;
  }
}
