.profile {
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 122px;
}

.profile__title {
  margin: 0;
  padding-top: 91px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 217px;
}

.profile__form_type_save {
  gap: 189px;
}

.profile__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profile__input {
  border: none;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__input:disabled {
  background-color: transparent;
  color: #000;
}

.profile__input::placeholder {
  text-align: right;
}

.profile__input-error {
  color: #ff4062;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.profile__label {
  width: 410px;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.profile__label_type_name {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__label_type_email {
  padding-top: 16px;
}

.profile__btn {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  gap: 16px;
}

.profile__btn_type_save {
  gap: 20px;
}

.profile__error {
  margin: 0;
  color: #ff004c;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  height: 14px;
}

.profile__button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  transition: opacity 0.3s;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__button_type_save {
  box-sizing: border-box;
  width: 410px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  background-color: #000000;
  color: #fff;
}

.profile__button_type_save:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.profile__button_type_exit {
  color: #ff4062;
}

@media screen and (max-width: 1279px) {
  .profile {
    gap: 97px;
  }

  .profile__title {
    padding-top: 235px;
  }

  .profile__form {
    gap: 205px;
  }

  .profile__form_type_save {
    gap: 178px;
  }

  .profile__btn {
    padding-bottom: 269px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    gap: 79px;
  }

  .profile__title {
    padding-top: 70px;
  }

  .profile__form {
    gap: calc(100vh - 407px - 374px);
  }

  .profile__form_type_save {
    gap: calc(100vh - 436px);
  }

  .profile__label {
    width: calc(260px + (410 - 260) * (100vw - 320px) / (767 - 320));
  }

  .profile__btn {
    padding: 374px 0 40px;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile__button_type_save {
    width: calc(260px + (410 - 260) * (100vw - 320px) / (767 - 320));
  }
}
