.promo {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 524px;
  background: url(../../images/pic__COLOR_landing-logo.png) #f3c1f8;
  background-size: 320px 320px;
  background-position: center;
  background-repeat: no-repeat;
}

.promo__text {
  margin: 0;
  letter-spacing: -2px;
  text-align: center;
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
}

@media screen and (max-width: 1279px) {
  .promo {
    min-height: calc(784px + (524 - 784) * (100vw - 768px) / (1279 - 768));
  }

  .promo__text {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    background-size: calc(248px + (320 - 248) * (100vw - 320px) / (767 - 320))
      calc(248px + (320 - 248) * (100vw - 320px) / (767 - 320));
    min-height: calc(570px + (784 - 570) * (100vw - 320px) / (767 - 320));
  }

  .promo__text {
    max-width: calc(300px + (730 - 300) * (100vw - 320px) / (767 - 320));
    padding-bottom: 20px;
    font-size: calc(34px + (50 - 29) * (100vw - 320px) / (767 - 320));
    line-height: 1.2;
  }
}