.form {
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  min-height: calc(100vh - 140px);
  justify-content: center;
}

.form__link {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.form__logo {
  width: 38px;
  height: 38px;
}

.form__heading {
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
}

.form__auth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  gap: 5px;
  color: #a0a0a0;
}

.form__input {
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  width: 396px;
  border: none;
  padding: 15px;
  border-radius: 8px;
}

.form__input_type_error {
  color: #ff4062;
}

.form__error {
  height: 10px;
  color: #ff4062;
}

.form__container {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  gap: 16px;
}

.form__container_type_login {
  padding-top: 154px;
}

.form__button {
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 3px;
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
  transition: opacity 0.3s;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__text {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  align-self: center;
}

.form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .form {
    min-height: calc(100vh - 464px);
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .form {
    width: calc(260px + (396 - 260) * (100vw - 320px) / (767 - 320));
    align-items: center;
    padding: 56px 0 30px;
  }

  .form__container {
    padding-top: calc(100vh - 654px - 127px);
  }

  .form__button {
    margin-top: 127px;
  }

  .form__heading {
    padding: 50px 0 80px;
  }

  .form__input {
    width: calc(260px + (396 - 260) * (100vw - 320px) / (767 - 320));
  }

  .form__button {
    font-size: 12px;
    line-height: 14.52px;
  }

  .form__text {
    font-size: 12px;
    line-height: 14.52px;
  }

  .form__link {
    font-size: 12px;
    line-height: 14.52px;
  }

  .form__container_type_login {
    padding-top: calc(100vh - 556px - 225px);
  }

  .form__button_type_login {
    margin-top: 225px;
  }
}
