.footer {
  margin: 0 auto;
  width: 1140px;
}

.footer__title {
  margin: 0;
  padding: 78px 0 20px;
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.footer__container {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer__copyright {
  display: flex;
  margin-top: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.footer__nav-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
  cursor: pointer;
}

.footer__nav-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(708px + (1140 - 708) * (100vw - 768px) / (1279 - 768));
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(300px + (708 - 300) * (100vw - 320px) / (767 - 320));
  }
}

@media screen and (max-width: 320px) {
  .footer__title {
    padding: 79px 0 21px;
    font-size: 12px;
  }

  .footer__container {
    padding: 30px 0 20px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .footer__copyright {
    font-size: 12px;
    color: #a0a0a0;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  .footer__nav-link {
    font-size: 12px;
  }
}
