.about-me {
  margin: 0 auto;
  max-width: 1140px;
}

.about-me__title {
  margin: 0;
  padding: 110px 0 23px;
  border-bottom: 1px solid;
  line-height: 1.2;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
}

.about-me__info-container {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px;
  gap: 270px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -1.8px;
}

.about-me__job {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  padding: 18px 0 26px;
}

.about-me__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.about-me__link {
  margin: 0;
  max-width: 46px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  margin-top: auto;
  transition: opacity 0.3s;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__photo {
  min-width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

@media screen and (max-width: 1279px) {
  .about-me {
    max-width: calc(668px + (1140 - 668) * (100vw - 768px) / (1279 - 768));
  }

  .about-me__title {
    padding: 90px 0 23px;
  }

  .about-me__info-container {
    padding: 66px 0 90px;
    gap: 49px;
  }

  .about-me__text {
    line-height: 1.5;
    font-size: 12px;
  }

  .about-me__photo {
    height: 307px;
    min-width: 255px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__job {
    padding: 16px 0 20px;
    line-height: 1.5;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    max-width: calc(292px + (668 - 292) * (100vw - 320px) / (767 - 320));
  }

  .about-me__title {
    padding: 74px 0 28px;
    font-size: 18px;
  }

  .about-me__info-container {
    flex-direction: column-reverse;
    padding: 60px 0 70px;
    gap: 40px;
    align-items: center;
  }

  .about-me__name {
    line-height: 1.2;
    font-size: 30px;
  }

  .about-me__photo {
    height: 352px;
    min-width: 292px;
  }

  .about-me__link {
    margin-top: 40px;
  }

  .about-me__job {
    font-size: 11px;
    padding: 20px 0;
  }

  .about-me__text {
    font-size: 11px;
  }
}
